img {
    width: 100%;
}

section {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;

}

article {
    flex-basis: 400px;
    flex-grow: 1;
    padding: 20px;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
}
